body {
  margin: 0;
}

.container {
  display: flex;
}

.header {
  display: flex;
  background-color: purple;
  justify-content: center;
  margin: 0;
}

.header h1 {
  color: white;
}

.item {
  margin: 10px;
  background-color: aqua;
  padding: 8px;
  flex: 1;
}
