body {
  display: flex;
  justify-content: center;
  margin: 35px;
  background-color: azure;
  font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
  width: 60%;
  height: 60%;
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  background-image: url("asset/bg2.png");
  width: 100%;
  height: 210px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.image-header img {
  height: 175px;
  width: 175px;
  border-width: 4px;
  border-style: solid;
  border-color: white;
}

.image-header {
  flex: 1;
  margin: 5px;
  margin-top: 45px;
  padding-left: 15px;
}

.data-header {
  justify-content: center;
  flex: 3;
  margin-top: 50px;
  margin-left: 90px;
}

#nama {
  color: white;
  margin: 0;
}

#job {
  color: white;
}

#btn-download {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 50px;
}

#btn-download:hover {
  background-color: black;
  color: white;
}

#btn-hire-me {
  background-color: rgb(52, 187, 18);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 50px;
}

#btn-hire-me:hover {
  background-color: black;
  color: white;
}

.content1 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.about-me {
  flex: 1.5;
  margin: 20px 0px 20px 20px;
  padding-right: 20px;
}

.about-me p {
  font-size: small;
  padding-right: 40px;
}

.about-me h2 {
  margin: 0;
}

.biodata {
  flex: 1;
}

.table-biodata {
  margin: 40px 20px 20px 0px;
}

.judul {
  font-size: 12px;
  padding-right: 22px;
}

.isi {
  font-size: 12px;
}

.content2 {
  display: flex;
  flex-direction: row;
}

.contact {
  flex: 1.5;
  margin: 20px 0px 20px 20px;
  padding-right: 20px;
}

.contact h2 {
  margin: 0;
}

.address {
  flex: 1;
}

.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 5px 12px 10px 0px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 input[type="text"],
.form-style-1 input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
}
.form-style-1 .field-divided {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}
.form-style-1 .field-textarea {
  height: 100px;
}
.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  background: url("asset/bg2.png");
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
  border-radius: 50px;
}
.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: black;
  color: white;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.address {
  margin: 70px 0px 0px 0px;
  font-size: 12px;
}
